<% set_meta_tags :keywords => 'Daily Deals, 1-day deals, Daily Steal, Advertisers', :description => "Advertising on the Daily Steal, NZ's best collection of daily deals" %>
<div id='Advert'>
<h1>Advertisers</h1>


<h3>Want to advertise on The Daily Steal? Email us on <%=mail_to('advertisers@dailysteal.co.nz', nil, :encode => "hex")%></h3>
<br/>

</div>