<% set_meta(:keywords => 'Daily Deals, 1-day deals, Daily Steal, Advertisers', :description => "Advertising on the Daily Steal, NZ's best collection of daily deals") %>
<div id='Advert'>
<h1>Advertisers</h1>


<h3>If you are interested in advertising on The Daily Steal give us an email on <a href="mailto:advertising@dailysteal.co.nz?subject=Advertising Inquiry" style="text-decoration:underline;">advertising@dailysteal.co.nz</a></h3>
<br/>

</div>