<div id='FAQ'>
<h1>FAQ</h1>
<br/><h2>What is The Daily Steal about?</h2>
<h3>The Daily Steal is a simple one-stop shop for all your daily deal hunting needs. We, like any other kiwis, love a good bargain, but were getting sick of sifting through tons of websites every day. So we decided to take matters into our own hands and do something about it. Several weeks later the Daily Steal ninja was born.</h3>
<br/><h2>I've got a great feature idea for your website, can you add it please?</h2>
<h3>We can't promise you magic, but we will definitely try, just send us a message using the feedback button and we'll get the ninja onto it.</h3>
<br/><h2>There's a spelling mistake/pricing mistake/no picture on one of the deals, can you fix it?</h2>
<h3>Certainly can, just send us a message and we'll get right on it, bear in mind we are just pulling the information from the other websites so if they make a mistake, we make a mistake. The lawyers told us we also have to mention that we take no responsibility for any errors, whether on our part or not, sorry.</h3>
<br/><h2>I saw a deal that I really wanted but when I clicked on it, it was sold out.</h2>
<h3>We're very sorry about that, but the Daily Steal ninja only checks websites every 20 minutes or so, he only has two eyes you know.</h3>
<br/><h2>Why can't I find my favourite daily deal site on here?</h2>
<h3>Currently we've only got a selection of the best NZ daily deal websites, we'll look into adding more, please let us know what you want to see using the feedback button.</h3>
<br/><h2>Your website doesn't look right on my computer..</h2>
<h3>At the moment The Daily Steal is only optimised for modern internet browsers, if you're using an old version of Internet Explorer(v7 or below) or Firefox(v2 or below) the deals might just show up in a big column. If possible try updating your browser. If you can't don't fret we are working to make it work on older computers. If you have a newish computer and are still having problems flick us a message</h3>
<br/>

</div>