<div id="product-list">
	<h1>Listing Deals</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>Fullprice</th>
    <th>Picture</th>
    <th>Site</th>
  </tr>

<% @feeds.each do |feed_entry| %>
  <tr>
    <td><%=h feed_entry.name %></td>
    <td><%=h feed_entry.price %></td>
    <td><%=h feed_entry.fullprice %></td>

    <td><img src= "http://www.1-day.co.nz/images/products/<%=h feed_entry.guid[/\w+\z/]%>_small.jpg"</td>
 
  </tr>
 <%end%>
</table>
</div>
<br />
  <td><%-# feed_entry.description -%></td>