<div id="deal-list">
	<h1>Today's Deals'</h1>

<table>

<% @feeds.each do |feed_entry| %>

  <ul class = "deal" >
	
    <li><%=h feed_entry.name %></li>
    <li><img src= <%=h feed_entry.picture.gsub(/\s/,'%20')%>></li>
 	<li><%=h feed_entry.price %></li>
  </ul>
 <%end%>
</table>
</div>
<br />
