<div id="deal-list">
	<h1>Today's Deals'</h1>

<table>

<% @feeds.each do |feed_entry| %>

  <dl class = "deal" >
	
    <dt><%=h feed_entry.name %></dt>
    <dd><img src= <%=h feed_entry.picture.gsub(/\s/,'%20')%> height= '150'></dd>
 	<dd><%=h feed_entry.price %></dd>
	
  </dl>
 <%end%>
</table>
</div>
<br />
