#newsletter
  %h1 Never miss a deal again
  %h3 Want customized alerts for NZ's best deals?
  %p Do you just want to hear about products and services you'd buy?
  %p Do you want them by email and SMS?
  
  -form_for @signup
  
