#newsletter    
  #newsthanks
    %h3 Thanks
    %br
    %p{:style => "text-align:center"} Our personalized deal service is still in beta but we'll get in touch with you once it's ready to go live.
    %p{:style => "text-align:center;padding:20px"}=link_to "Home", root_url, :style => "color:blue;font-size:110%"