li{
	list-style-type: none;
}	
dd{
	margin-left:0px;
}
div dd a,div dr a{
	display:block;
	color:#636B8A;
	font-weight:normal;
}
body {
  background-color: #FFFFF7;
  font-size: 14px;
  font-family: Trebuchet MS, Helvetica, Arial;
  letter-spacing:0.02em;
  margin:0px;
}

a{
	color: #4B7399;
    text-decoration:none
}

a img {
  border: none;
}
#content {
  width: 1120px;
  margin:auto;
  background-color: #F2F2F2;
  padding: 5px;

  -webkit-box-shadow: 0px 0px 2px #636363;
  -moz-box-shadow: 0px 0px 2px #636363;
  
}

.logo {
	text-align:center;
	margin-top:-10px;

}
.logo li a{

	 color:#4B7399; 
}
.logopic{
	margin-left:-70px;
	margin-right:-20px;
}
.sub-logo {
	font-family:Tahoma;
	float:center;
	margin-left:10px;
	margin-top:-24px;
	font-size:130%;
	font-weight:bold;
}
#navigation {
		-webkit-box-shadow:0px 2px 6px #C9C9C9;
		-moz-box-shadow:0px 2px 6px #C9C9C9;
		height:25px;
		background-color: #FF8000;

	}
	
#navigation ul{
		margin: 0 5px 0 0;				
		padding: 0px;
		line-height:25px;
		text-align:right;
}

#navigation li {
		padding:8px 10px;	
		text-decoration: none;
		font-weight:bold;
		display:inline;
		}
#navigation li a{
		color:white;
}		
#navigation li a:hover {
		color: #c00;
		 }
.toggle{
	float:right;
}

#deal{
	background-color:#ffffff;
	margin:7px;
	width:240px;
	height:205px;
	padding: 10px;
	list-style-type:none;	
	display: inline-block;
	text-align:center;
	border: solid 1px black;
	/*-moz-border-radius: 7px;
	-webkit-border-radius: 7px;*/
	
	
	}
#deal a img{
	margin:0;
}
.deal_price{
	background-color:red;
	margin:-38px 0 0 150px;
	min-width:78px;
	opacity:0.8;
	padding:20px 10px;
	position:absolute;
}
.price{
	color:white;
	font-size:15pt;
	font-weight:bold;
	margin:-16px 0 0 2px;
	position:absolute;
	text-shadow:1px 1px 5px #111111;
	
}
.fullprice{
	font-weight:normal;
	margin:4px 0 0 28px;
	position:absolute;
	text-decoration:line-through;
}
.deal_site{
	background-color:#9C9C9C;
	font-size:9pt;
	margin:-179px 0 0 160px;
	opacity:0.8;
	padding-bottom:6px;
	position:absolute;
	width:86px;

}
.deal_name{
	width:240px;
	text-align:center;
}
.deal_name a{
	
}
.hidden{
	display:none;
}


#footer{
	text-align:center;
}
.round {
	-moz-border-radius:    8px;
	-webkit-border-radius: 8px;
}
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}
