li{
	list-style-type: none;
}	
dd{
	margin-left:0px;
}
div dd a,div dr a{
	display:block;
	color:#636B8A;
	font-weight:normal;
}
body {
  background-color: #707070;
  font-size: 14px;
  font-family: Verdana, Helvetica, Arial;
  margin:0px;
}

a{
	color: #4B7399;
    text-decoration:none
}

a img {
  border: none;
}
#container {
  width: 838px;
  margin:auto;
  background-color: #87BEE6;
  padding: 20px 40px;
  margin-top: 0px;
  margin-bottom: 20px;
  border:1px solid black;
  border-top:none;
  box-shadow: 2px 2px 2px #636363;
  
}

.logo {
	margin-top:-15px;

}
.logo li a{

	 color:#4B7399; 
}
.logopic{
	margin-left:-70px;
	margin-right:-20px;
}
.sub-logo {
	float:center;
	margin-left:10px;
	margin-top:-24px;
	font-size:130%;
	font-weight:bold;
}
.navigation {
		font-size:110%;
		background-color: #f2f2f2;
		width:115.1%;
		list-style:none;
		float:left;
		margin:15px 0px 5px -80px;
		position:relative;
		padding:0 0px 0 0px;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}

.navigation li {
		float:left;
		display: block;
		padding: 8px 16px;
		text-decoration: none;
		font-weight: bold;
		color: #069;
		border-right: 1px solid #ccc;
		}
		
.navigation li a:hover {
		color: #c00;
		 }
.toggle{
	float:right;
}

#deal{
	
	margin:7px 7px 7px 7px;
	width:240px;
	padding: 10px;
	background-color:#ffffff;
	list-style-type:none;	
	display: inline-block;
	text-align:center;
	border: solid 1px black;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-webkit-box-shadow:inset 0px 0px 2px #636363;
	-moz-box-shadow:inset 0px 0px 2px #636363;
	
	}
	
.hidden{
	display:none;
}

/*ul.logo{
	font-family:Bradley hand ITC TT ,Verdana, Helvetica, Arial;
	font-variant:small-caps;
	letter-spacing:0.0em;
	margin:-10px 0px 0 -30px ;
	text-decoration:none;
 	font-size:60px;
	font-weight:bolder;
 	color:#4B7399 !important;
	list-style-type: none;
	text-shadow: -3px -2px 1px #193754;
}
*/


/*
.navigation li a {  
  font-weight: bold;
  text-decoration: none;
  color:black ;
  }
.navigation li a:hover {
  color:#709DFF;
  text-shadow:none;
  
}
*/
#footer{
	text-align:center;
}
.round {
	-moz-border-radius:    8px;
	-webkit-border-radius: 8px;
}
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}
