<span id = 'cities'>- <%=@location.capitalize%><a href = '#' style = "color:purple" onClick = "$(this).next().toggle()" > ▾ change</a>
  <ul>
    <% Location.all.each do |location|%>
    <li>
      <a href = "<%= coupons_url()%>" onClick = "$.cookie('location', '<%=location.name%>', { expires: 90 });">
        <%=location.name.capitalize%>
      </a>
    </li>
    <%end%>
  </ul>
</span>