<div id = 'cities'>
  <ul>
    <% Location.all.each do |location|%>
      <a href = "<%= coupons_url(location.name)%>">
        <li><%=location.name.capitalize%>
        </li>
      </a>
    <%end%>
  </ul>
</div>