<div id="footer">
  <ul>Thanks for making it to the bottom of the page, it's very nice to see you. I hope you found something nice and shiny <br/>The Daily Steal is in no way affiliated with the stores linked and takes no responsibility for errors</ul>
</div>