
<div id="footer">
	<ul>
		<li>Thanks for making it to the bottom of the page.</li>
		<li>The Daily Steal is in no way affiliated with the stores linked and takes no responsibility for errors.</li>
		<li>Want to advertise on the Daily Steal? Email<%=mail_to('advertisers@dailysteal.co.nz', nil, :encode => "hex")%></li>
	</ul>
</div>