
<div id="footer">
	<ul>
		<li>Thanks for making it to the bottom of the page, Thanks for staying. I hope you found something shiny today</li>
		<li>The Daily Steal is in no way affiliated with the stores linked and takes no responsibility for errors</li>
		<li>Is your screen too small for this website? Try our page designed for lower resolution screens <a href="/small" style="color:#4c8cb9">http://www.dailysteal.co.nz/small</a></li>
	</ul>
</div>