<div id="header">
  <ul class= "logo"><li><%= link_to logo, root_path%><img class="logopic" src="images/ninja.png"></li>
	<ul class="sub-logo"><h1>Today's best daily deals in one place</h1><br>
	<h2>Looking for NZ's best 1 day and daily deal sales? You've come to the right place</h2></ul>
  
 </ul>
</div>