<div id = 'sidebar'>
	<h1>Welcome to The Daily Steal</h1>
	<h2>Welcome to The Daily Steal, NZ's home of daily deals and 1 day sales. We've put together a collection of the best daily deals New Zealand has to offer. We're still a young site so if you have any questions, suggestions or problems feel free to use the feedback button, we're here to help.
		<br/>From the team at the Daily Steal, Have a great day and we hope you find yourself a deal.</h2>
</div>