<li class="toggle">Toggle width 3/4
	<input type="radio" name="width" value="3 wide" checked onclick="changecss('#container','width','838px')"/>
	<input type="radio" name= "width" value="4 wide" onclick="changecss('#container','width','1119px')"/></li>