<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<title>The Daily Steal Mailer | NZ's Best 1-Day and Daily Deals</title>
	<link rel="stylesheet" type="text/css" href="http://www.dailysteal.co.nz/stylesheets/scaffoldmailer.css" />


</head>
	<body>

	
		<div id="container">
			<br>
			<%= render 'layouts/header' %>

			<div id="content">
				
				<%= yield %>
				
			</div>
		
		</div>
		<%= render 'layouts/footer' %>	
	</body>
</html>
